:host {
  font-size: 20vmin;
  display: inline-block;
  transform-origin: center center;
  font-family: 'Montserrat', sans-serif;
}

span {
  opacity: 0.25;
  transition: opacity 1s ease;

  &.done {
    opacity: 1;
  }
}
